:root {
    --primary-color:   rgb(10, 120, 78);
    --secondary-color: rgb(115, 146, 134);
    --background-color: rgb(0, 0, 0);
    --white-color:rgb(238, 245, 243);
    --grey-color: rgb(153, 160, 157);
    --shadow-color: rgb(5, 20, 14);
    --button-color:rgb(10, 19, 120);
    --border-radius: 3px;

  }
  .app {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
 
  }
  .scroll-section{
    scroll-snap-align: start;
  }
  


  *{
    /* outline: 1px solid blue; */
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
 
body{
  margin:0;
  background-color: var(--background-color);

}



/* used for the grdient circle backlight in projects */
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}